    {
      "items": [
        {
          "itemProperties": {
            "info": [
              {
                "content": "The NSW Administrative Boundaries Web Service is a dynamic map of administrative and property boundaries. Administrative Areas Boundaries depict a polygon feature class within the NSW Digital Cadastral Database maintained by LPI. The administrative boundaries provided through this web service includes: Counties, Suburbs, Parishes, Local Government Areas,    State Forests, National Parks, State Electoral Districts. For detailed information, for each individual dataset contained in this web services, please see the Digital Cadastre Database Dictionary published at http://www.lpi.nsw.gov.au/mapping_and_imagery/spatial_data.",
                "name": "Service Description"
              },
              {
                "content": "Accessible through LPI Spatial Data Services. To the extent that Creative Commons licensing applies, all data and other material produced by LPI constitutes Crown copyright. Save for the content on this website supplied by third parties, the LPI logo, NSW Government logo, the Commonwealth Coat of Arms, and any material protected by a trade mark. LPI has applied the Creative Commons Attribution 3.0 Australia Licence. LPI asserts the right to be attributed as author of the original material in the following manner: © Land and Property Information [2015]. As far as practicable, material for which the copyright is owned by a third party will be clearly labelled. LPI has made all reasonable efforts to ensure that this material has been reproduced on this website with the full consent of the copyright owners.",
                "name": "Legal Constraints"
              }
            ],
            "dataCustodian": "[New South Wales Land and Property Information](mailto:sds.services@lpi.nsw.gov.au)"
          },
          "url": "http://maps.six.nsw.gov.au/arcgis/rest/services/public/NSW_Administrative_Boundaries/MapServer",
          "type": "esri-mapServer-group",
          "name": "Administrative Boundaries"
        },
        {
          "opacity": 1,
          "info": [
            {
              "content": "Accessible through LPI Spatial Data Services, to the extent that Creative Commons licensing applies, all data and other material produced by LPI constitutes Crown copyright. Save for the content on this website supplied by third parties, the LPI logo, NSW Government logo, the Commonwealth Coat of Arms, and any material protected by a trade mark. LPI has applied the Creative Commons Attribution 3.0 Australia Licence. LPI asserts the right to be attributed as author of the original material in the following manner: © Land and Property Information [2015]. As far as practicable, material for which the copyright is owned by a third party will be clearly labelled. LPI has made all reasonable efforts to ensure that this material has been reproduced on this website with the full consent of the copyright owners.",
              "name": "Legal Constraints"
            }
          ],
          "url": "http://maps.six.nsw.gov.au/arcgis/rest/services/public/NSW_Imagery/MapServer",
          "dataCustodian": "[New South Wales Land and Property Information](mailto:sds.services@lpi.nsw.gov.au)",
          "description": "The NSW Imagery web service provides access to a repository of the Land and Property Information's (LPI) standard imagery covering NSW, plus additional sourced imagery. It depicts an imagery map of NSW showing a selection of LPI’s imagery repository of LandSat 2014® satellite imagery, LPI’s standard coverage ADS sensor orthorectified imagery, LPI’s high resolution ADS sensor town imagery, LPI’s high resolution ADS sensor project imagery, AAM 2011 Sydney conurbation 10 cm GSD orthorectified imagery, AAM 2012 Tweed orthorectified imagery, Jacobs 2009 Upper Hunter AUSIMAGE® orthophoto imagery, Jacobs 2004 Queanbeyan AUSIMAGE® orthophoto imagery, Jacobs 2006 Yass AUSIMAGE® orthophoto Imagery and Jacobs 2002 Goulburn AUSIMAGE® orthophoto imagery. The characteristics of each image such as accuracy, resolution, viewing scale, image format etc varies by sensor, location, capture methodology, source and processing. The imagery web service provides access to authoritative and timely imagery covering the whole of NSW. The service ensures users are able to consume LPI's imagery without the requirement of hosting the imagery files within thier local system. The service is in a cached environment only. This dataset is compliant with the NSW FSDF and its specifications.",
          "type": "esri-mapServer",
          "name": "Aerial Imagery"
        },
        {
          "info": [
            {
              "content": "Accessible through LPI Spatial Data Services, to the extent that Creative Commons licensing applies, all data and other material produced by LPI constitutes Crown copyright. Save for the content on this website supplied by third parties, the LPI logo, NSW Government logo, the Commonwealth Coat of Arms, and any material protected by a trade mark. LPI has applied the Creative Commons Attribution 3.0 Australia Licence. LPI asserts the right to be attributed as author of the original material in the following manner: © Land and Property Information [2015]. As far as practicable, material for which the copyright is owned by a third party will be clearly labelled. LPI has made all reasonable efforts to ensure that this material has been reproduced on this website with the full consent of the copyright owners.",
              "name": "Legal Constraints"
            }
          ],
          "url": "http://maps.six.nsw.gov.au/arcgis/rest/services/public/NSW_Imagery_Dates/MapServer",
          "dataCustodian": "[New South Wales Land and Property Information](mailto:sds.services@lpi.nsw.gov.au)",
          "description": "The NSW Imagery date web service provides access to a repository of the footprint Land and Property Information (LPI) standard imagery covering NSW, plus additional sourced imagery. It contains the footprint of LPI’s imagery repository of LandSat 2014® satellite imagery, LPI’s standard coverage ADS sensor orthorectified imagery, LPI’s high resolution ADS sensor town imagery, LPI’s high resolution ADS sensor project imagery, AAM 2012 Tweed orthorectified imagery, AAM 2012 (previously VEKTA) Sydney conurbation 10 cm GSD orthorectified imagery, Jacobs 2009 Upper Hunter AUSIMAGE® orthophoto imagery, Jacobs 2004 Queanbeyan AUSIMAGE® orthophoto imagery, Jacobs 2006 Yass AUSIMAGE® orthophoto Imagery and Jacobs 2002 Goulburn AUSIMAGE® orthophoto imagery. The footprint provides an approximate imagery capture date for all the image categories stated above. The service is available in a cached environment only. This dataset is compliant with the NSW FSDF and its specifications.",
          "type": "esri-mapServer",
          "name": "Aerial Imagery Dates"
        },
        {
          "info": [
            {
              "content": "Accessible through LPI Spatial Data Services, to the extent that Creative Commons licensing applies, all data and other material produced by LPI constitutes Crown copyright. Save for the content on this website supplied by third parties, the LPI logo, NSW Government logo, the Commonwealth Coat of Arms, and any material protected by a trade mark. LPI has applied the Creative Commons Attribution 3.0 Australia Licence. LPI asserts the right to be attributed as author of the original material in the following manner: © Land and Property Information [2015]. As far as practicable, material for which the copyright is owned by a third party will be clearly labelled. LPI has made all reasonable efforts to ensure that this material has been reproduced on this website with the full consent of the copyright owners.",
              "name": "Legal Constraints"
            }
          ],
          "url": "http://maps.six.nsw.gov.au/arcgis/rest/services/public/NSW_POI/MapServer",
          "dataCustodian": "[New South Wales Land and Property Information](mailto:sds.services@lpi.nsw.gov.au)",
          "description": "The Points of Interest (POI) web service provides the identification and location of a feature, service or activity that people may want to see, know about or visit. POI features for this service are primarily derived from features maintained within the Digital Topographic Database (DTDB). The POI feature class is maintained programmatically (automated) by sourcing spatial and aspatial attributes from other feature classes in the DTDB that contain POI features. The midpoint of a line or polygon features is used to define the POI. Points of Interest include features related to Community, Education, Recreation, Transportation, Utility, or Hydrography, Physiography and Place, and defined as a place with a prescribed name. The attribute information for an individual dataset may have been thinned or modifed to cater for the service. The service is available in a cached environment only. This dataset is compliant with the NSW FSDF and its specifications. For details information for each individual dataset contained in this web services, please see the Digital Topographic Database Dictionary, published at http://www.lpi.nsw.gov.au/mapping_and_imagery/spatial_data.",
          "type": "esri-mapServer",
          "name": "Points of Interest"
        },
        {
          "opacity": 1,
          "info": [
            {
              "content": "Accessible through LPI Spatial Data Services. To the extent that Creative Commons licensing applies, all data and other material produced by LPI constitutes Crown copyright. Save for the content on this website supplied by third parties, the LPI logo, NSW Government logo, the Commonwealth Coat of Arms, and any material protected by a trade mark. LPI has applied the Creative Commons Attribution 3.0 Australia Licence. LPI asserts the right to be attributed as author of the original material in the following manner: © Land and Property Information [2015]. As far as practicable, material for which the copyright is owned by a third party will be clearly labelled. LPI has made all reasonable efforts to ensure that this material has been reproduced on this website with the full consent of the copyright owners.",
              "name": "Legal Constraints"
            }
          ],
          "url": "http://maps.six.nsw.gov.au/arcgis/rest/services/public/NSW_Base_Map/MapServer",
          "dataCustodian": "[New South Wales Land and Property Information](mailto:sds.services@lpi.nsw.gov.au)",
          "description": "The NSW Base Map Web Service depicts a map of New South Wales (NSW) using layers from the Digital Topographic Database, the Geocoded Urban and Rural Addressing System database and the Digital Cadastral Database. This base map includes: Roads, Points of Interest, Localities, Landform, Drainage, Cultural data, Parks and forests, Property boundaries and Street address numbers.",
          "type": "esri-mapServer",
          "name": "Topographic Base Map"
        },
        {
          "name": "Camden Environmental Monitoring Project InSAR",
          "type": "group",
          "preserveOrder": true,
          "info": [
             {
                "name": "Details",
                "content" : "These InSAR-derived datasets were produced by Geoscience Australia under the Camden Environmental Monitoring Project.\nProducts are given for three separately processed satellite radar datasets: ALOS, Envisat and Radarsat-2.\nProducts are derived in up-down and east-west direction from combination of different viewing geometries of the same satellite sensor. The slanted InSAR line-of-sight viewing geometry is insensitive to the north-south direction.\nNegative signals indicate either downward (in up-down products) or westward (in east-west products) surface movements.\nUncertainties of each product result from error propagation of initial line-of-sight data uncertainties during the data combination step.\nThe InSAR processing method used to create these products only uses high-quality pixels with very little signal noise. The resulting products are sparse in some areas (particularly highly vegetated areas) but have a high accuracy as demonstrated by validation with GPS data described in the GA Record. Different InSAR processing methods could be used to retrieve a denser coverage of displacement and velocity observations, but with reduced accuracy.\nALOS products generally have denser spatial coverage than Envisat and Radarsat-2 products. This is because ALOS uses a longer radar wavelength (~24 cm) than Envisat and Radarsat-2 (~6 cm) which enables the radar to better penetrate vegetation.\nA full description of the project and methods used to derive these InSAR products is given in the associated GA Record."
             }
          ],
          "items": [
            {
              "name": "ALOS Displacement",
              "type": "wms",
              "layers": "alos_displacement",
              "url": "https://ows.dea.ga.gov.au/",
              "linkedWcsUrl": "https://ows.dea.ga.gov.au/",
              "linkedWcsCoverage": "alos_displacement",
              "ignoreUnknownTileErrors": true,
              "chartType": "momentPoints",
              "chartColor": "white",
              "opacity": 1,
              "featureInfoTemplate": "{{#data}}<table><tr><td>Displacement up-down</td><td>{{bands.ud}} mm</td></tr><tr><td>Displacement east-west</td><td>{{bands.ew}} mm</td></tr><tr><td>Displacement uncertainty up-down</td><td>{{bands.upstd}} mm</td></tr><tr><td>Displacement uncertainty east-west</td><td>{{bands.ewstd}} mm</td></tr></table>{{/data}}"
            },
            {
              "name": "ALOS Velocity",
              "type": "wms",
              "layers": "alos_velocity",
              "url": "https://ows.dea.ga.gov.au/",
              "linkedWcsUrl": "https://ows.dea.ga.gov.au/",
              "linkedWcsCoverage": "alos_velocity",
              "ignoreUnknownTileErrors": true,
              "chartType": "momentPoints",
              "chartColor": "white",
              "opacity": 1,
              "featureInfoTemplate": "{{#data}}<table><tr><td>Velocity up-down</td><td>{{bands.ud}} mm/year</td></tr><tr><td>Velocity east-west</td><td>{{bands.ew}} mm/year</td></tr><tr><td>Velocity uncertainty up-down</td><td>{{bands.upstd}} mm/year</td></tr><tr><td>Velocity uncertainty east-west</td><td>{{bands.ewstd}} mm/year</td></tr></table>{{/data}}"
            },
            {
              "name": "ENVISAT Displacement",
              "type": "wms",
              "layers": "envisat_displacement",
              "url": "https://ows.dea.ga.gov.au/",
              "linkedWcsUrl": "https://ows.dea.ga.gov.au/",
              "linkedWcsCoverage": "envisat_displacement",
              "ignoreUnknownTileErrors": true,
              "chartType": "momentPoints",
              "chartColor": "white",
              "opacity": 1,
              "featureInfoTemplate": "{{#data}}<table><tr><td>Displacement up-down</td><td>{{bands.ud}} mm</td></tr><tr><td>Displacement east-west</td><td>{{bands.ew}} mm</td></tr><tr><td>Displacement uncertainty up-down</td><td>{{bands.upstd}} mm</td></tr><tr><td>Displacement uncertainty east-west</td><td>{{bands.ewstd}} mm</td></tr></table>{{/data}}"
            },
            {
              "name": "ENVISAT Velocity",
              "type": "wms",
              "layers": "envisat_velocity",
              "url": "https://ows.dea.ga.gov.au/",
              "linkedWcsUrl": "https://ows.dea.ga.gov.au/",
              "linkedWcsCoverage": "envisat_velocity",
              "ignoreUnknownTileErrors": true,
              "chartType": "momentPoints",
              "chartColor": "white",
              "opacity": 1,
              "featureInfoTemplate": "{{#data}}<table><tr><td>Velocity up-down</td><td>{{bands.ud}} mm/year</td></tr><tr><td>Velocity east-west</td><td>{{bands.ew}} mm/year</td></tr><tr><td>Velocity uncertainty up-down</td><td>{{bands.upstd}} mm/year</td></tr><tr><td>Velocity uncertainty east-west</td><td>{{bands.ewstd}} mm/year</td></tr></table>{{/data}}"
            },
            {
              "name": "RADARSAT2 Displacement",
              "type": "wms",
              "layers": "radarsat2_displacement",
              "url": "https://ows.dea.ga.gov.au/",
              "linkedWcsUrl": "https://ows.dea.ga.gov.au/",
              "linkedWcsCoverage": "radarsat2_displacement",
              "ignoreUnknownTileErrors": true,
              "chartType": "momentPoints",
              "chartColor": "white",
              "opacity": 1,
              "featureInfoTemplate": "{{#data}}<table><tr><td>Displacement up-down</td><td>{{bands.ud}} mm</td></tr><tr><td>Displacement east-west</td><td>{{bands.ew}} mm</td></tr><tr><td>Displacement uncertainty up-down</td><td>{{bands.upstd}} mm</td></tr><tr><td>Displacement uncertainty east-west</td><td>{{bands.ewstd}} mm</td></tr></table>{{/data}}"
            },
            {
              "name": "RADARSAT2 Velocity",
              "type": "wms",
              "layers": "radarsat2_velocity",
              "url": "https://ows.dea.ga.gov.au/",
              "linkedWcsUrl": "https://ows.dea.ga.gov.au/",
              "linkedWcsCoverage": "radarsat2_velocity",
              "ignoreUnknownTileErrors": true,
              "chartType": "momentPoints",
              "chartColor": "white",
              "opacity": 1,
              "featureInfoTemplate": "{{#data}}<table><tr><td>Velocity up-down</td><td>{{bands.ud}} mm/year</td></tr><tr><td>Velocity east-west</td><td>{{bands.ew}} mm/year</td></tr><tr><td>Velocity uncertainty up-down</td><td>{{bands.upstd}} mm/year</td></tr><tr><td>Velocity uncertainty east-west</td><td>{{bands.ewstd}} mm/year</td></tr></table>{{/data}}"
            }
          ]
        }
      ],
      "type": "group",
      "name": "New South Wales Government"
    }
