{
  "name": "Transmission",
  "type": "group",
  "items": [
    {
      "name": "Western Australia",
      "type": "group",
      "items": [
        {
          "name": "Forecast Remaining Capacity",
          "type": "group",
          "items": [
            {
              "id": "9921803d",
              "name": "Forecast Remaining Capacity 2017",
              "datasetId": "forecast-remaining-capacity-2017",
              "itemProperties": {
                "featureInfoTemplate": {
                  "name": "{{#SubstationName}}{{SubstationName}}{{/SubstationName}} {{#Substationname}}{{Substationname}}{{/Substationname}}: {{{Description}}}",
                  "template": "<h3>{{#SubstationName}}{{SubstationName}}{{/SubstationName}} {{#Substationname}}{{Substationname}}{{/Substationname}}</h3><table>  <tr> <td>Forecast Remaining Capacity:&nbsp;</td> <td><strong>{{Description}}</strong></td> </tr>  <tr> <td>Forecast Year:&nbsp;</td> <td><strong>{{ForecastYear}}</strong></td> </tr>  <tr> <td>Abbreviation:&nbsp;</td> <td><strong>{{#SubstationAbbreviation}}{{SubstationAbbreviation}}{{/SubstationAbbreviation}} {{#SubAbbreviation}}{{SubAbbreviation}}{{/SubAbbreviation}}</strong></td> </tr>  <tr> <td>Forecast year:&nbsp;</td> <td><strong>{{ForecastYear}}</strong></td> </tr>  <tr> <td>Date created:&nbsp;</td> <td><strong>{{DateCreated}}</strong></td> </tr></table>"
                }
              },
              "url": "https://catalogue.data.wa.gov.au",
              "type": "ckan-resource",
              "ignoreUnknownTileErrors": true
            },
            {
              "id": "6ee8e0d9",
              "name": "Forecast Remaining Capacity 2018",
              "datasetId": "forecast-remaining-capacity-2018",
              "itemProperties": {
                "featureInfoTemplate": {
                  "name": "{{#SubstationName}}{{SubstationName}}{{/SubstationName}} {{#Substationname}}{{Substationname}}{{/Substationname}}: {{{Description}}}",
                  "template": "<h3>{{#SubstationName}}{{SubstationName}}{{/SubstationName}} {{#Substationname}}{{Substationname}}{{/Substationname}}</h3><table>  <tr> <td>Forecast Remaining Capacity:&nbsp;</td> <td><strong>{{Description}}</strong></td> </tr>  <tr> <td>Forecast Year:&nbsp;</td> <td><strong>{{ForecastYear}}</strong></td> </tr>  <tr> <td>Abbreviation:&nbsp;</td> <td><strong>{{#SubstationAbbreviation}}{{SubstationAbbreviation}}{{/SubstationAbbreviation}} {{#SubAbbreviation}}{{SubAbbreviation}}{{/SubAbbreviation}}</strong></td> </tr>  <tr> <td>Forecast year:&nbsp;</td> <td><strong>{{ForecastYear}}</strong></td> </tr>  <tr> <td>Date created:&nbsp;</td> <td><strong>{{DateCreated}}</strong></td> </tr></table>"
                }
              },
              "url": "https://catalogue.data.wa.gov.au",
              "type": "ckan-resource",
              "ignoreUnknownTileErrors": true
            },
            {
              "id": "b1de775a",
              "name": "Forecast Remaining Capacity 2019",
              "datasetId": "forecast-remaining-capacity-2019",
              "itemProperties": {
                "featureInfoTemplate": {
                  "name": "{{#SubstationName}}{{SubstationName}}{{/SubstationName}} {{#Substationname}}{{Substationname}}{{/Substationname}}: {{{Description}}}",
                  "template": "<h3>{{#SubstationName}}{{SubstationName}}{{/SubstationName}} {{#Substationname}}{{Substationname}}{{/Substationname}}</h3><table>  <tr> <td>Forecast Remaining Capacity:&nbsp;</td> <td><strong>{{Description}}</strong></td> </tr>  <tr> <td>Forecast Year:&nbsp;</td> <td><strong>{{ForecastYear}}</strong></td> </tr>  <tr> <td>Abbreviation:&nbsp;</td> <td><strong>{{#SubstationAbbreviation}}{{SubstationAbbreviation}}{{/SubstationAbbreviation}} {{#SubAbbreviation}}{{SubAbbreviation}}{{/SubAbbreviation}}</strong></td> </tr>  <tr> <td>Forecast year:&nbsp;</td> <td><strong>{{ForecastYear}}</strong></td> </tr>  <tr> <td>Date created:&nbsp;</td> <td><strong>{{DateCreated}}</strong></td> </tr></table>"
                }
              },
              "url": "https://catalogue.data.wa.gov.au",
              "type": "ckan-resource",
              "ignoreUnknownTileErrors": true
            },
            {
              "id": "0332cab1",
              "name": "Forecast Remaining Capacity 2020",
              "datasetId": "forecast-remaining-capacity-20210",
              "itemProperties": {
                "featureInfoTemplate": {
                  "name": "{{#SubstationName}}{{SubstationName}}{{/SubstationName}} {{#Substationname}}{{Substationname}}{{/Substationname}}: {{{Description}}}",
                  "template": "<h3>{{#SubstationName}}{{SubstationName}}{{/SubstationName}} {{#Substationname}}{{Substationname}}{{/Substationname}}</h3><table>  <tr> <td>Forecast Remaining Capacity:&nbsp;</td> <td><strong>{{Description}}</strong></td> </tr>  <tr> <td>Forecast Year:&nbsp;</td> <td><strong>{{ForecastYear}}</strong></td> </tr>  <tr> <td>Abbreviation:&nbsp;</td> <td><strong>{{#SubstationAbbreviation}}{{SubstationAbbreviation}}{{/SubstationAbbreviation}} {{#SubAbbreviation}}{{SubAbbreviation}}{{/SubAbbreviation}}</strong></td> </tr>  <tr> <td>Forecast year:&nbsp;</td> <td><strong>{{ForecastYear}}</strong></td> </tr>  <tr> <td>Date created:&nbsp;</td> <td><strong>{{DateCreated}}</strong></td> </tr></table>"
                }
              },
              "url": "https://catalogue.data.wa.gov.au",
              "type": "ckan-resource",
              "ignoreUnknownTileErrors": true
            },
            {
              "id": "fd6f82cd",
              "name": "Forecast Remaining Capacity 2021",
              "datasetId": "forecast-remaining-capacity-2021",
              "itemProperties": {
                "featureInfoTemplate": {
                  "name": "{{#SubstationName}}{{SubstationName}}{{/SubstationName}} {{#Substationname}}{{Substationname}}{{/Substationname}}: {{{Description}}}",
                  "template": "<h3>{{#SubstationName}}{{SubstationName}}{{/SubstationName}} {{#Substationname}}{{Substationname}}{{/Substationname}}</h3><table>  <tr> <td>Forecast Remaining Capacity:&nbsp;</td> <td><strong>{{Description}}</strong></td> </tr>  <tr> <td>Forecast Year:&nbsp;</td> <td><strong>{{ForecastYear}}</strong></td> </tr>  <tr> <td>Abbreviation:&nbsp;</td> <td><strong>{{#SubstationAbbreviation}}{{SubstationAbbreviation}}{{/SubstationAbbreviation}} {{#SubAbbreviation}}{{SubAbbreviation}}{{/SubAbbreviation}}</strong></td> </tr>  <tr> <td>Forecast year:&nbsp;</td> <td><strong>{{ForecastYear}}</strong></td> </tr>  <tr> <td>Date created:&nbsp;</td> <td><strong>{{DateCreated}}</strong></td> </tr></table>"
                }
              },
              "url": "https://catalogue.data.wa.gov.au",
              "type": "ckan-resource",
              "ignoreUnknownTileErrors": true
            },
            {
              "id": "1f00bdd7",
              "name": "Forecast Remaining Capacity 2026",
              "datasetId": "forecast-remaining-capacity-2026",
              "itemProperties": {
                "featureInfoTemplate": {
                  "name": "{{#SubstationName}}{{SubstationName}}{{/SubstationName}} {{#Substationname}}{{Substationname}}{{/Substationname}}: {{{Description}}}",
                  "template": "<h3>{{#SubstationName}}{{SubstationName}}{{/SubstationName}} {{#Substationname}}{{Substationname}}{{/Substationname}}</h3><table>  <tr> <td>Forecast Remaining Capacity:&nbsp;</td> <td><strong>{{Description}}</strong></td> </tr>  <tr> <td>Forecast Year:&nbsp;</td> <td><strong>{{ForecastYear}}</strong></td> </tr>  <tr> <td>Abbreviation:&nbsp;</td> <td><strong>{{#SubstationAbbreviation}}{{SubstationAbbreviation}}{{/SubstationAbbreviation}} {{#SubAbbreviation}}{{SubAbbreviation}}{{/SubAbbreviation}}</strong></td> </tr>  <tr> <td>Forecast year:&nbsp;</td> <td><strong>{{ForecastYear}}</strong></td> </tr>  <tr> <td>Date created:&nbsp;</td> <td><strong>{{DateCreated}}</strong></td> </tr></table>"
                }
              },
              "url": "https://catalogue.data.wa.gov.au",
              "type": "ckan-resource",
              "ignoreUnknownTileErrors": true
            },
            {
              "id": "b525f0e2",
              "name": "Forecast Remaining Capacity 2031",
              "datasetId": "forecast-remaining-capacity-2031",
              "itemProperties": {
                "featureInfoTemplate": {
                  "name": "{{#SubstationName}}{{SubstationName}}{{/SubstationName}} {{#Substationname}}{{Substationname}}{{/Substationname}}: {{{Description}}}",
                  "template": "<h3>{{#SubstationName}}{{SubstationName}}{{/SubstationName}} {{#Substationname}}{{Substationname}}{{/Substationname}}</h3><table>  <tr> <td>Forecast Remaining Capacity:&nbsp;</td> <td><strong>{{Description}}</strong></td> </tr>  <tr> <td>Forecast Year:&nbsp;</td> <td><strong>{{ForecastYear}}</strong></td> </tr>  <tr> <td>Abbreviation:&nbsp;</td> <td><strong>{{#SubstationAbbreviation}}{{SubstationAbbreviation}}{{/SubstationAbbreviation}} {{#SubAbbreviation}}{{SubAbbreviation}}{{/SubAbbreviation}}</strong></td> </tr>  <tr> <td>Forecast year:&nbsp;</td> <td><strong>{{ForecastYear}}</strong></td> </tr>  <tr> <td>Date created:&nbsp;</td> <td><strong>{{DateCreated}}</strong></td> </tr></table>"
                }
              },
              "url": "https://catalogue.data.wa.gov.au",
              "type": "ckan-resource",
              "ignoreUnknownTileErrors": true
            },
            {
              "id": "",
              "name": "Forecast Remaining Capacity 2036",
              "datasetId": "ncmt-forecast-remaining-capacity-2036",
              "itemProperties": {
                "featureInfoTemplate": {
                  "name": "{{#SubstationName}}{{SubstationName}}{{/SubstationName}} {{#Substationname}}{{Substationname}}{{/Substationname}}: {{{Description}}}",
                  "template": "<h3>{{#SubstationName}}{{SubstationName}}{{/SubstationName}} {{#Substationname}}{{Substationname}}{{/Substationname}}</h3><table>  <tr> <td>Forecast Remaining Capacity:&nbsp;</td> <td><strong>{{Description}}</strong></td> </tr>  <tr> <td>Forecast Year:&nbsp;</td> <td><strong>{{ForecastYear}}</strong></td> </tr>  <tr> <td>Abbreviation:&nbsp;</td> <td><strong>{{#SubstationAbbreviation}}{{SubstationAbbreviation}}{{/SubstationAbbreviation}} {{#SubAbbreviation}}{{SubAbbreviation}}{{/SubAbbreviation}}</strong></td> </tr>  <tr> <td>Forecast year:&nbsp;</td> <td><strong>{{ForecastYear}}</strong></td> </tr>  <tr> <td>Date created:&nbsp;</td> <td><strong>{{DateCreated}}</strong></td> </tr></table>"
                }
              },
              "url": "https://catalogue.data.wa.gov.au",
              "type": "ckan-resource",
              "ignoreUnknownTileErrors": true
            }
          ]
        },
        {
          "id": "b37bf01b",
          "name": "Distribution Lines",
          "datasetId": "wp-high-voltage-distribution-lines",
          "itemProperties": {
            "opacity": 1,
            "featureInfoTemplate": {
              "template": "<h3>{{netwk_name}}</h3><table>  <tr>    <td>Line type:&nbsp;</td><td><strong>{{kv}}</strong></td>  </tr></table>"
            }
          },
          "url": "https://catalogue.data.wa.gov.au",
          "type": "ckan-resource",
          "ignoreUnknownTileErrors": true
        },
        {
          "id": "f600c818",
          "name": "Overhead Transmission Lines",
          "datasetId": "wp-high-voltage-overhead-transmission-line1",
          "itemProperties": {
            "opacity": 1,
            "featureInfoTemplate": {
              "name": "{{Voltagekv}} kV",
              "template": "Voltage: <strong>{{Voltagekv}} kV</strong>"
            }
          },
          "url": "https://catalogue.data.wa.gov.au",
          "type": "ckan-resource",
          "ignoreUnknownTileErrors": true
        },
        {
          "id": "b180b21e",
          "name": "Substation Connection Capacity",
          "datasetId": "substation-generation-connection-capacity",
          "itemProperties": {
            "opacity": 1,
            "featureInfoTemplate": {
              "name": "{{SubstationName}}: {{{Description}}}",
              "template": "<h3>{{SubstationName}}</h3><table>  <tr> <td>Generation connection capacity:&nbsp;</td> <td><strong>{{Description}}</strong></td> </tr>  <tr> <td>Abbreviation:&nbsp;</td> <td><strong>{{SubstationAbbreviation}}</strong></td> </tr></table>"
            }
          },
          "url": "https://catalogue.data.wa.gov.au",
          "type": "ckan-resource",
          "ignoreUnknownTileErrors": true
        },
        {
          "id": "c44c2e5b",
          "name": "Substations/Terminals/Power Stations/APR Information",
          "datasetId": "existing-substations-terminals-power-stations-and-apr-information",
          "itemProperties": {
            "opacity": 1
          },
          "url": "https://catalogue.data.wa.gov.au",
          "type": "ckan-resource",
          "ignoreUnknownTileErrors": true
        },
        {
          "id": "488baee8",
          "name": "Future Substations/Terminals/Power Stations/APR Information",
          "datasetId": "future-substations-terminals-power-stations-and-apr-information",
          "itemProperties": {
            "opacity": 1
          },
          "url": "https://catalogue.data.wa.gov.au",
          "type": "ckan-resource",
          "ignoreUnknownTileErrors": true
        }
      ]
    },
    {
      "id": "540715f8",
      "name": "Transmission Lines",
      "layers": "National_Electricity_Transmission_Lines",
      "url": "http://services.ga.gov.au/gis/rest/services/Electricity_Infrastructure/MapServer",
      "type": "esri-mapServer",
      "opacity": 1,
      "dataUrl": "http://services.ga.gov.au/gis/services/Electricity_Infrastructure/MapServer/WFSServer?service=WFS&version=1.1.0&request=GetFeature&typeName=National_Electricity_Transmission_Lines&srsName=EPSG%3A4326&maxFeatures=100000",
      "dataUrlType": "wfs-complete",
      "keepOnTop": true,
      "featureInfoTemplate": {
        "name": "{{NAME}} ({{CAPACITYKV}}kv)",
        "template": "<h3>{{NAME}}</h3><p>    Voltage: <strong>{{CAPACITYKV}}kV</strong><br/>    State: <strong>{{STATE}}</strong><br/>    Class: <strong>{{CLASS}}</strong><br/>    Status: <strong>{{OPERATIONALSTATUS}}</strong><br/>    Date revised: <strong>{{REVISED}}</strong><br/>    Spatial Confidence: <strong>{{SPATIALCONFIDENCE}}</strong></p>"
      },
      "ignoreUnknownTileErrors": true,
      "rectangle": [
        112,
        -48,
        155,
        -5
      ]
    },
    {
      "id": "54071616",
      "name": "Substations",
      "layers": "National_Electricity_Transmission_Substations",
      "url": "http://services.ga.gov.au/gis/rest/services/Electricity_Infrastructure/MapServer",
      "type": "esri-mapServer",
      "opacity": 1,
      "dataUrl": "http://services.ga.gov.au/gis/services/Electricity_Infrastructure/MapServer/WFSServer?service=WFS&request=GetFeature&typeName=topography_National_Electricity_Transmission_Substations:National_Electricity_Transmission_Substations&srsName=EPSG%3A4326&maxFeatures=10000",
      "dataUrlType": "wfs-complete",
      "keepOnTop": true,
      "ignoreUnknownTileErrors": true,
      "rectangle": [
        112,
        -48,
        155,
        -5
      ]
    }
  ]
}
